<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=devide-width, initial-scale=1.0'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class = 'container'>
      <h1>A.C.M.E. User Page</h1>
      <nav class = 'nav nav-tabs'>
        <li <%if (typeof users == 'undefined') { %>class= 'active'<% } %>><a href='/'>Home</a></li>
        <li <%if (typeof users !== 'undefined') { %>class= 'active'<% } %>><a href='/users'>Users</a></li>
      </nav>
    </div>

    <%if (typeof users !== 'undefined') { %>
    <div class = 'container'>

    <div class = 'col-md-12'>
      <form method='post' action='/users' class='row well'>
        <div class='col-xs-12 col-md-10'>
          <input name='name' placeholder='user name' class='form-control'/>
        </div>
        <div class='col-xs-4 col-md-2'>
          <button class='btn btn-primary'>Add User</button>
        </div>
      </form>
    </div>

    <ol class='list-unstyled col-md-12'>
      <% users.forEach(function(user){ %>
      <li class='row panel'><div class='panel-body well'>
        <div class="col-xs-12 col-md-3">
          <div class='panel panel-success'>
            <form method='post' action='/users/<%=user.id %>/achievements' class='panel-heading'>
              <button class ='icon-button'>
                <%=user.name %> <i class='glyphicon glyphicon-minus-sign'></i>
              </button>
            </form>

            <div class='panel-body'>
              <div class = 'status'>
                &#x2B50;
                <%if (user.Mentee !== null) { %>
                &#x2B50;
                <% } %>
                 <%if (user.achievements.length >= 5 && user.Mentee !== null) { %>
                &#x2B50;
                <% } %>
              </div>

              <%if (user.achievements.length >= 2 && user.Mentee===null) { %>
              <form method='POST' action='/users/<%=user.id %>?_method=PUT' class='form-group'>
                <label class='sr-only' for='mentee'>Choose Mentee</label>
                <select class='custom-select'  id='mentee' name='mentee'>
                  <option selected>Choose...</option>
                  <% user.candidates.forEach(function(candidate){ %>
                    <option value='<%=candidate.id %>'><%=candidate.name %></option>
                  <% }) %>
                </select>
                <button class='btn btn-success btn-sm'>Mentor This Promising Kid</button>
              </form>
              <% } %>

              <%if (user.Mentor !== null) { %>
              <div>
                Mentor:
                <%=user.Mentor.name %>
              </div>
              <% } %>
            </div>
          </div>
        </div>

        <div class='col-xs-12 col-md-9 row'>
          <div class='panel panel-success'>
            <form method='post' action='/users/<%=user.id %>/achievements' class='panel-heading'>
              <button class ='icon-button'>
                Add an achivement <i class='glyphicon glyphicon-plus-sign'></i>
              </button>
            </form>

            <div class='panel-body'>
              <%if (user.achievements.length > 0) { %>
              <ul class='list-unstyled col-xs-12'>
                <% user.achievements.forEach(function(ach){ %>
                  <li>
                    <div class='achievement col-xs-12 col-md-9'>
                      <i class='glyphicon glyphicon-ok-circle'></i> <%=ach.description %>
                    </div>
                    <div class='col-xs-12 col-md-3'>
                      <form method='POST' action='/users/<%=user.id %>/achievements/<%=ach.id %>?_method=DELETE'>
                        <button class='btn btn-warning btn-sm'>Delete award</button>
                      </form>
                    </div>
                  </li>
                <% }); %>
              </ul>
              <% } %>
            </div>
          </div>
        </div>
      </div>
      <li>
      <% }); %>
    </ol>

    <% } %>

    </div>

    <%if (typeof userJSON !== 'undefined') { %>
    <footer class = 'container'>
      <div class ='well col-md-12 col-xl-8'>
        <pre><%=userJSON %></pre>
      </div>
    </footer>
    <% } %>

    <script scr='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'></script>
  </body>
</html>
